@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8580E1;
    border-radius: 5px;
}