### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/resources/application-aws.yml
/src/main/resources/application.yml
/src/main/resources/application.properties