### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/resources/application-aws.yml
/src/main/resources/application.yml
/src/main/resources/application.properties
/build/resources/main/application-springdoc.yml
/build/classes/java/main/com/portfolly/server/bookmark/entity/Bookmark.class
/build/resources/main/application-aws.yml
/build/resources/main/application-jasypt.yml
/build/resources/main/application-jwt.yml
/build/resources/main/application-mail.yml
/build/classes/java/main/com/portfolly/server/board/entity/Board$Division.class
/build/classes/java/main/com/portfolly/server/board/dto/BoardMemberInfo$BoardMemberInfoBuilder.class
/build/classes/java/main/com/portfolly/server/board/dto/BoardMemberInfo.class
/build/classes/java/main/com/portfolly/server/bookmark/controller/BookmarkController.class
/build/classes/java/main/com/portfolly/server/bookmark/dto/BookmarkDto$Response.class
/build/classes/java/main/com/portfolly/server/bookmark/dto/BookmarkDto.class
/build/classes/java/main/com/portfolly/server/bookmark/repository/BookmarkRepository.class
/build/classes/java/main/com/portfolly/server/bookmark/service/BookmarkService.class
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/classes/java/main/com/portfolly/server/exception/businessLogicException/BusinessLogicException.class
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.1.1/checksums/checksums.lock
/build/classes/java/main/com/portfolly/server/comment/entity/Comment$Status.class
/build/classes/java/main/com/portfolly/server/comment/entity/Comment.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentDto$Patch.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentDto$Post.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentDto$Response.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentDto.class
/build/classes/java/main/com/portfolly/server/comment/mapper/CommentMapper.class
/build/classes/java/main/com/portfolly/server/comment/mapper/CommentMapperImpl.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentMemberInfo$CommentMemberInfoBuilder.class
/build/classes/java/main/com/portfolly/server/comment/dto/CommentMemberInfo.class
/build/classes/java/main/com/portfolly/server/comment/respository/CommentRepository.class
/build/classes/java/main/com/portfolly/server/comment/service/CommentService.class
/build/classes/java/main/com/portfolly/server/exception/response/ConstraintViolationErrorResponse.class
/build/classes/java/main/com/portfolly/server/security/authorization/utils/CustomAuthorityUtils.class
/build/classes/java/main/com/portfolly/server/member/config/DeleteMemberConfig.class
/.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
/build/classes/java/main/com/portfolly/server/validator/EnumFormat.class
/build/classes/java/main/com/portfolly/server/validator/EnumFormatValidator.class
/build/classes/java/main/com/portfolly/server/security/authorization/utils/ErrorResponder.class
/build/classes/java/main/com/portfolly/server/exception/error/ErrorResponseInfo$ConstraintViolationError.class
/build/classes/java/main/com/portfolly/server/exception/error/ErrorResponseInfo$FieldError.class
/build/classes/java/main/com/portfolly/server/exception/error/ErrorResponseInfo.class
/build/classes/java/main/com/portfolly/server/exception/businessLogicException/ExceptionCode.class
/.gradle/8.1.1/executionHistory/executionHistory.bin
/.gradle/8.1.1/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.1.1/fileHashes/fileHashes.bin
/.gradle/8.1.1/fileHashes/fileHashes.lock
/.gradle/8.1.1/dependencies-accessors/gc.properties
/.gradle/8.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/com/portfolly/server/exception/advice/GlobalExceptionAdvice.class
/build/classes/java/main/com/portfolly/server/exception/response/HttpErrorResponse.class
/build/classes/java/main/com/portfolly/server/member/image/controller/ImageController.class
/build/classes/java/main/com/portfolly/server/member/image/entity/ImageData$ImageDataBuilder.class
/build/classes/java/main/com/portfolly/server/member/image/entity/ImageData.class
/build/classes/java/main/com/portfolly/server/member/image/util/ImageUtils.class
/build/classes/java/main/com/portfolly/server/security/authorization/jwt/JwtTokenizer.class
/build/classes/java/main/com/portfolly/server/security/authorization/filter/JwtVerificationFilter.class
/build/classes/java/main/com/portfolly/server/security/authorization/verify/JwtVerify.class
/.gradle/8.1.1/fileChanges/last-build.bin
/build/classes/java/main/com/portfolly/server/likes/controller/LikesController.class
/build/classes/java/main/com/portfolly/server/likes/repository/LikesRepository.class
/build/classes/java/main/com/portfolly/server/likes/service/LikesService.class
/build/classes/java/main/com/portfolly/server/security/authentication/oauth2/handler/MemberAccessDeniedHandler.class
/build/classes/java/main/com/portfolly/server/security/authentication/oauth2/handler/MemberAuthenticationEntryPoint.class
/build/classes/java/main/com/portfolly/server/member/dto/MemberDto$Auth.class
/build/classes/java/main/com/portfolly/server/member/dto/MemberDto$Post$PostBuilder.class
/build/classes/java/main/com/portfolly/server/member/dto/MemberDto$Response.class
/build/classes/java/main/com/portfolly/server/security/authentication/oauth2/handler/OAuth2MemberSuccessHandler.class
/build/classes/java/main/com/portfolly/server/security/controller/OauthController.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/com/portfolly/server/picture/entity/Picture.class
/build/classes/java/main/com/portfolly/server/picture/config/PictureConfig.class
/build/classes/java/main/com/portfolly/server/picture/controller/PictureController.class
/build/classes/java/main/com/portfolly/server/picture/repository/PictureRepository.class
/build/classes/java/main/com/portfolly/server/picture/service/PictureService.class
/build/classes/java/main/com/portfolly/server/portfolio/dto/PortfolioDto$MyPageResponse.class
/build/classes/java/main/com/portfolly/server/portfolio/service/PortfolioService$1.class
/build/classes/java/main/com/portfolly/server/portfolio/service/PortfolioService$2.class
/build/classes/java/main/com/portfolly/server/portfolio/entity/PortfolioTag.class
/build/classes/java/main/com/portfolly/server/portfolio/dto/PortfolioTagDto$Response.class
/build/classes/java/main/com/portfolly/server/portfolio/dto/PortfolioTagDto.class
/build/classes/java/main/com/portfolly/server/portfolio/repository/PortfolioTagRepository.class
/.gradle/8.1.1/fileHashes/resourceHashesCache.bin
/build/classes/java/main/com/portfolly/server/security/config/SecurityConfiguration$CustomFilterConfigurer.class
/build/classes/java/main/com/portfolly/server/security/config/SecurityConfiguration.class
/build/classes/java/main/com/portfolly/server/swagger/SpringDocConfig.class
/build/classes/java/main/com/portfolly/server/member/image/repository/StorageRepository.class
/build/classes/java/main/com/portfolly/server/member/image/service/StorageService.class
/build/classes/java/main/com/portfolly/server/tag/entity/Tag.class
/build/classes/java/main/com/portfolly/server/tag/dto/TagDto$Response.class
/build/classes/java/main/com/portfolly/server/tag/dto/TagDto.class
/build/classes/java/main/com/portfolly/server/tag/mapper/TagMapper.class
/build/classes/java/main/com/portfolly/server/tag/mapper/TagMapperImpl.class
/build/generated/sources/annotationProcessor/java/main/com/portfolly/server/tag/mapper/TagMapperImpl.java
/build/classes/java/main/com/portfolly/server/tag/repository/TagRepository.class
/build/classes/java/main/com/portfolly/server/exception/response/ValidationErrorResponse.class
