#spring:
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            clientId: ${G_CLIENT_ID}
#            clientSecret: ${G_CLIENT_SECRET}
#            scope: email, profile